/* header first line */
.header {
  padding: 6px 0;
  height: 150px;
  margin-bottom: 35px;
}
.first_liner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  padding: 0 30px 0 10px;
  font-family: "Robotolight";
}
/* icons */
.icon {
  padding: 7px;
  width: 32px;
  height: 32px;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  background-color: #1a1a1a;
}
.fa-linkedin-in,
.fa-twitter,
.fa-pinterest-p,
.fa-google-plus-g {
  margin-right: 10px;
}
.icon:hover {
  background-color: #ee802f;
}
/* form */
input[type="text"] {
  width: 217px;
  height: 32px;
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  font-family: "Robotolight";
}
input::placeholder {
  color: #ffffff;
  padding-left: 10px;
  padding-top: 9px;
  font-family: "Robotolight";
}
/* header button */
.second_liner {
  margin: 15px 0 80px 0;
  padding: 5px 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 45px;
  font-family: "Robotolight";
}

.header_button {
  width: 68px;
  height: 32px;
  background-color: #3bafbe;
  color: #ffffff;
  border-radius: 15px;
  border: none;
  font-family: "Robotolight";
  cursor: pointer;
}
.header_button:hover {
  background-color: #2c8591;
}
/* header second line */
.toggle-button {
  position: absolute;
  right: 30px;
  font-size: 25px;
  color: darkorchid;
  display: none;
}
.menu_list {
  display: flex;
}

.menu_list_link {
  color: #999999;
  margin: 0 27px;
  position: relative;
}
.menu_list_link:hover {
  color: #000000;
}
.active {
  color: #3bafbe;
}
.rotation {
  transition: all 0.5s;
}
.menus {
  visibility: hidden;
  margin-top: 10px;
  margin-left: 22px;
  transition: all 0.5s;
}
.menu_link:hover {
  color: #000000;
}
.menu_link {
  color: #999999;
  margin: 5px;
}
.menu_list_item:hover .menus {
  visibility: visible;
}
.menu_list_item:hover .rotation {
  transform: rotate(180deg);
}
/* section 1 */
.first_block {
  height: 368px;
  margin: 0 25px 68px 25px;
  display: flex;
}
.slider_img {
  display: flex;
  height: 317px;
}
.slider_txt {
  margin: 0 0 0 60px;
  padding: 65px 0;
}
.slider_txt h1 {
  color: #4a4a4a;
  font-size: 42px;
  font-family: "robotomedium";
}
.slider_txt p {
  color: #999999;
  font-size: 16px;
  padding: 10px 0 40px 0;
  font-family: "Robotolight";
  line-height: 1.4;
}
.first_block .slick-arrow {
  font-size: 0;
  color: rebeccapurple;
  margin: 5px;
  border: none;
}
.slick-arrow {
  width: 75px;
  height: 35px;
  float: end;
}
.first_block .slick-prev {
  background: url(../images/left.svg) no-repeat center;
}
.first_block .slick-next {
  background: url(../images/right.svg) no-repeat center;
}
.section_button {
  background-color: #3bafbe;
  color: #ffffff;
  border-radius: 10px;
  height: 32px;
  width: 125px;
  border: none;
  font-family: "Robotolight";
  cursor: pointer;
}
.section_button:hover {
  background-color: #2c8591;
}
/* section2 */
.second_box {
  margin: 0 20px 45px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.second_inner_box {
  margin: 20px 5px;
}
.second_inner_box img {
  width: 300px;
}
.second_inner_box h3 {
  margin-top: 28px;
  margin-bottom: 10px;
  color: #4a4a4a;
  font-family: "robotoregular";
  font-size: 16px;
}
.second_inner_box p {
  font-family: "Robotolight";
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
}
.second_inner_box button {
  width: 110px;
  height: 32px;
  margin-top: 25px;
  color: #ffffff;
  background-color: #3bafbe;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.second_inner_box button:hover {
  background-color: #2c8591;
}

/* section 3 */
.third_box h2 {
  font-family: "robotomedium";
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  color: #666666;
  margin-bottom: 45px;
}
.wrapper_first {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}
.three_box {
  display: flex;
  width: 300px;
  height: 90px;
}
.wrapper_second {
  margin: 40px 20px 50px 20px;
  display: flex;
  justify-content: space-between;
}
.six_box {
  display: flex;
  width: 300px;
  height: 90px;
}
.six_txt h4 {
  margin-left: 15px;
  font-family: "robotoregular";
  font-size: 13px;
  color: #3bafbe;
}
.six_txt p {
  margin-left: 15px;
  margin-top: 7px;
  color: #848c92;
  font-family: "robotoregular";
  font-size: 12px;
  line-height: 1.4;
}
/* footer1 */
.footer_first {
  height: 260px;
  background-color: #252525;
  color: #ffffff;
}
.footer_container {
  display: flex;
  padding: 40px 20px;
  height: 175px;
  justify-content: space-between;
}
.footer_container h2 {
  padding: 0 0 25px 0;
  font-family: "robotoregular";
}
.footer_list_one {
  color: #999999;
  font-family: "Robotolight";
  font-size: 12px;
  line-height: 1.4;
}
.footer_list_one li {
  margin-top: 4px;
}
.email {
  color: #3bafbe;
}
.foot_link {
  font-size: 12px;
  font-family: "Robotolight";
  color: #3bafbe;
}
.line {
  width: 225px;
  border: 1px solid #2c2c2c;
  margin: 7px 0;
}
.third_part {
  color: #999999;
  font-size: 12px;
  font-family: "Robotolight";
}
.third_part h4 {
  font-size: 13px;
  margin-bottom: 10px;
}
.third_part h6 {
  font-size: 12px;
  margin-bottom: 10px;
}
.third_part p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 10px;
}
.footer_reader {
  float: right;
  color: #3bafbe;
  font-size: 12px;
  font-family: "Robotolight";
}
input[type="txt"] {
  width: 225px;
  height: 32px;
  background-color: #2c2c2c;
  color: #989898;
  border-radius: 10px;
  border: none;
  font-family: "Robotolight";
  font-size: 13px;
}
input[type="email"] {
  width: 225px;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #2c2c2c;
  color: #989898;
  border-radius: 10px;
  border: none;
  font-family: "Robotolight";
  font-size: 13px;
}
.footer_button {
  background-color: #3bafbe;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  width: 80px;
  height: 30px;
  font-family: "Robotolight";
  font-size: 13px;
  cursor: pointer;
}
.footer_button:hover {
  background-color: #2c8591;
}
/* footer second */
.footer_second {
  display: flex;
  height: 60px;
  background-color: #1a1a1a;
  color: #ffffff;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-family: "robotothin";
  font-size: 12px;
}

/* responsive */

@media (max-width: 1100px) {
  .menu {
    display: none;
  }
  .toggle-button {
    display: block;
  }
  .menu_list {
    width: 100%;
    height: 35px;
    color: #000000;
    flex-direction: row;
    z-index: 9;
  }
  .menu_list_item {
    text-align: right;
  }
  .menu.active {
    display: block;
  }
}
@media (max-width: 1065px) {
  .first_block {
    width: 98%;
  }
}
@media (max-width: 1025px) {
  .menu_list {
    width: 100%;
    height: 35px;
    color: #000000;
    flex-direction: row;
    z-index: 9;
  }
  .menu_list_item {
    text-align: right;
    font-size: 14px;
  }
  .menu_list_link {
    margin: 0 10px;
  }
  .menu.active {
    display: block;
  }
  .menus {
    margin-left: 5px;
  }
  .first_block {
    width: 98%;
    height: 300px;
  }
  .slider_txt {
    margin: 0 0 0 55px;
    padding: 60px 0 50px 0;
  }
  .slider_txt p {
    padding: 10px 0 30px 0;
    font-size: 13px;
  }
  .slider_img {
    height: 250px;
  }
  .second_box:nth-child(3) {
    justify-content: space-around;
  }
  .section_button {
    border-radius: 10px;
    height: 25px;
    width: 115px;
  }
}
@media (max-width: 940px) {
  .first_block {
    width: 98%;
    height: 280px;
    margin: 0 20px 5px 25px;
  }
  .section_button {
    border-radius: 10px;
    height: 25px;
    width: 110px;
  }
  .slider_txt {
    margin: 0 0 0 50px;
    padding: 50px 0 40px 0;
  }
  .slider_img {
    height: 220px;
  }
  .slider_txt h1 {
    font-size: 35px;
  }
  .slider_txt p {
    padding: 10px 0 25px 0;
    font-size: 14px;
  }
  .third_box h2 {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
@media (max-width: 895px) {
  .first_block {
    width: 98%;
    height: 270px;
    margin: 0 20px 5px 25px;
  }
  .slider_txt {
    margin: 0 0 0 35px;
    padding: 25px 0;
  }
  .slider_img {
    height: 210px;
  }
  .slider_txt {
    margin: 0 0 0 45px;
    padding: 40px 0 40px 0;
  }
  .slider_txt h1 {
    font-size: 30px;
  }
  .slider_txt p {
    padding: 10px 0 25px 0;
    font-size: 13px;
  }
  .second_inner_box img {
    width: 280px;
  }
  .third_box h2 {
    font-size: 18px;
    margin-bottom: 35px;
  }
  .third_inner_box {
    display: flex;
    justify-content: space-between;
  }
  .wrapper_first {
    display: flex;
    padding: 45px 0;
    flex-direction: column;
  }
  .wrapper_second {
    display: flex;
    flex-direction: column;
  }
  .foooter_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer_3 {
    display: none;
  }
}
@media (max-width: 800px) {
  .first_block {
    width: 98%;
    height: 260px;
    margin: 0 20px 5px 25px;
  }
  .slider_img {
    height: 190px;
  }
  .slider_txt h1 {
    font-size: 25px;
  }
  .slider_txt p {
    font-size: 12px;
  }
  .footer_2 {
    display: none;
  }
}
@media (max-width: 745px) {
  .first_block {
    width: 98%;
    height: 250px;
    margin: 0 20px 5px 25px;
  }
  .menu_list_item {
    text-align: right;
    font-size: 12px;
  }
  .section_button {
    border-radius: 10px;
    height: 25px;
    width: 110px;
  }
  .slider_img {
    height: 180px;
  }
  .slider_txt {
    margin: 0 0 0 15px;
    padding: 30px 0;
  }
  .slider_txt h1 {
    font-size: 22px;
  }
  .slider_txt p {
    padding: 10px 0 20px 0;
    font-size: 11px;
  }
}
@media (max-width: 700px) {
  .first_block {
    width: 98%;
    height: 240px;
    margin: 0 20px 5px 25px;
  }
  .menu_list_item {
    font-size: 11px;
  }
  .menu_list_link {
    margin: 0 5px;
  }
  .menus {
    margin-left: 0;
    margin-top: 5px;
  }
  .slider_img {
    height: 170px;
  }
  .slider_txt {
    margin: 0 0 0 20px;
    padding: 30px 0;
  }
  .slider_txt h1 {
    font-size: 20px;
  }
  .slider_txt p {
    padding: 10px 0 15px 0;
    font-size: 11px;
  }
}
@media (max-width: 675px) {
  .first_block {
    width: 98%;
    height: 230px;
    margin: 0 20px 5px 25px;
  }
  .menu_list_item {
    font-size: 11px;
  }
  .first_liner {
    justify-content: center;
  }
  .first_liner form {
    display: none;
  }
  .slider_img {
    height: 160px;
  }
  .slider_txt {
    margin: 0 0 0 20px;
    padding: 18px 0;
  }
  .slider_txt h1 {
    font-size: 20px;
  }
  .slider_txt p {
    padding: 10px 0 10px 0;
    font-size: 11px;
  }
  .third_inner_box {
    flex-direction: column;
    align-items: center;
  }
  .wrapper_first {
    padding: 9px 0;
  }
  .wrapper_second {
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 630px) {
  .first_block {
    width: 98%;
    height: 220px;
    margin: 0 20px 5px 25px;
  }
  .slider_img {
    height: 150px;
  }
  .slider_txt {
    margin: 0 0 0 20px;
    padding: 20px 0;
  }
  .slider_txt h1 {
    font-size: 20px;
  }
  .slider_txt p {
    padding: 10px 0 5px 0;
    font-size: 9px;
  }
  .header_icons {
    text-decoration: so;
  }
  .third_box h2 {
    font-size: 15px;
  }
  .section_button {
    height: 20px;
    width: 100px;
    font-size: 12px;
  }
}

@media (max-width: 590px) {
  .first_block {
    width: 98%;
    height: 180px;
    margin: 0 20px 5px 25px;
  }
  .menu_list_item {
    font-size: 9px;
  }
  .menu_list_link {
    margin: 0 3px;
  }
  .slider_img {
    height: 120px;
  }
  .slider_txt {
    margin: 0 0 0 20px;
    padding: 15px 0;
  }
  .slider_txt h1 {
    font-size: 16px;
  }
  .slider_txt p {
    padding: 10px 0 5px 0;
    font-size: 9px;
  }
  .section_button {
    height: 20px;
    width: 95px;
    font-size: 12px;
  }
  .third_box h2 {
    font-size: 14px;
  }
}
@media (max-width: 525px) {
  .first_block {
    width: 98%;
    height: 180px;
    margin: 0 20px 5px 25px;
  }
  .menu_list_item {
    font-size: 9px;
  }
  .menu_list_link {
    margin: 0 3px;
  }
  .slider_img {
    height: 120px;
  }
  .slider_txt {
    margin: 0 0 0 20px;
    padding: 15px 0;
  }
  .slider_txt h1 {
    font-size: 16px;
  }
  .slider_txt p {
    padding: 10px 0 5px 0;
    font-size: 9px;
    line-height: 1;
  }
  .third_box h2 {
    font-size: 14px;
  }
  .slider_txt p {
    padding: 5px 0 5px 0;
    font-size: 12px;
  }
  .section_button {
    height: 20px;
    width: 85px;
    font-size: 11px;
  }
  .third_box h2 {
    font-size: 12px;
  }
  .footer_1 {
    display: none;
  }
}
@media (max-width: 432px) {
  .slider_txt p {
    padding: 5px 0 5px 0;
    font-size: 9px;
    line-height: 1;
  }
}
@media (max-width: 385px) {
  .first_block {
    width: 98%;
    height: 170px;
    margin: 0 20px 5px 25px;
  }
  .menu_list_item {
    font-size: 8px;
  }
  .menu_list_link {
    margin: 0 3px;
  }
  .slider_img {
    height: 100px;
  }
  .slider_txt {
    margin: 0 0 0 10px;
    padding: 10px 0;
  }
  .slider_txt h1 {
    font-size: 13px;
  }
  .slider_txt p {
    padding: 5px 0 5px 0;
    font-size: 8px;
    line-height: 1;
  }
  .section_button {
    height: 10px;
    width: 70px;
    font-size: 7px;
  }
  .third_box h2 {
    font-size: 12px;
  }
}

/* the end */
